.store {
    height: 900px;
    width: 100%;  
    background-color: black;
}

.contentVideo{
    top: 56em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.superPosition{
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    right: 20%;
    bottom: 470px;
    width: 1100px;
    border-radius: 8px;
}

.columnApis{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
}
