.previewLoadImage {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .imageContainerLoad{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .containerSendIMageS3{
    display: flex;
    gap: 8px;
    flex-direction: row;
  }



  .containerLoadImageAws img.icon {
    z-index: 1;
    position: relative;
    top: 0;
    right: 0;
    width: 50px; /* Ajusta el tamaño del icono según sea necesario */
    height: auto;
  }

  .containerLoadImageAws {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Ajusta este valor según la relación de aspecto de tus imágenes */
    overflow: hidden;
  }
  
  .containerLoadImageAws .previewImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta este valor a 'contain' si quieres que la imagen se ajuste al contenedor sin recortar */
  }
  
  .previewLoadImage .imageContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    height: 230px;
  }
  
  .previewLoadImage .imageContainer img {
    width: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
  }
  
  .previewLoadImage .imageContainer span {
    font-size: 16px; /* Ajusta el tamaño del texto según tus necesidades */
  color: rgba(0, 0, 0, 0.445);
  font-size: 14px;
    text-align: center; /* Centra el texto */
  }
  

  .previewContainer{

  }