.cardsGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  grid-auto-rows: minmax(
    120px,
    auto
  );
  overflow-y: scroll;
  padding-bottom: 20px;
  scrollbar-width: none; /* Para Firefox */
  scrollbar-color: transparent; /* Para Firefox */
  gap: 20px 20px;
}

/* Para Chrome, Safari y Edge */
.cardsGrid::-webkit-scrollbar {
  display: none;
}

.ordered {
  display: flex;
  justify-content: flex-end;
}



@media (max-width: 900px) {
  .cardsGrid {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
  }
}

@media (max-width: 650px) {
  .cardsGrid {
      display: grid;
      grid-template-columns: auto;
  }
}

@media (max-width: 450px) {
  .cardsGrid {
      display: grid;
      justify-content: center;
  }
}
